body {
}

.actions {
    text-align: center;
}

ol.todos {
    margin: 0 0 40px 0;
    padding: 0;
}

ol.todos li {
    margin: 0;
    padding: 0;
}

ol.todos li.todo .page-header {
    position: relative;
}

ol.todos li.todo .page-header h1 {
    margin-bottom: 0;
}

ol.todos li.todo .page-header .btn-delete {
    position: absolute;
    right: 0;
    top: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    background: #fff;
}